.gradle/
build/
.idea/
.DS_Store
Thumbs.db
*.iml
ci-release/
bin
local.properties
*.o
*.o.d
*.so
gdb.setup
gdbserver
obj/
latex/
dependencies.txt
/private
.externalNativeBuild/
google-services.json
fastlane/report.xml
*.hprof
/artifacts
/*.log
