@file:Suppress("unused", "UNUSED_PARAMETER")
package {{packageName}}

import android.app.*
import android.content.*
import android.os.*
import android.content.*
import androidx.core.os.bundleOf
import androidx.fragment.app.*
import androidx.fragment.app.Fragment
import androidx.activity.result.*
import androidx.activity.result.ActivityResult
import com.eaglesakura.workflowdispatcher.internal.*
import com.eaglesakura.workflowdispatcher.activity.*
import androidx.activity.result.contract.*
import androidx.core.os.bundleOf
import android.util.Log
import androidx.core.app.*

internal fun {{callbackClassName}}.{{entryPointFunctionName}}(
    intent: Intent,
{{#savedStateList}}
    {{name}}: {{typeName}}{{#nullable}}?{{/nullable}},
{{/savedStateList}}
    options: ActivityOptionsCompat? = null,
) {
    val dispatcher = {{className}}()
    dispatcher.arguments = bundleOf(
        {{#savedStateList}}
            "{{name}}" to {{name}},
        {{/savedStateList}}
    )
    InternalWorkflowUtils.add(this, dispatcher, "{{className}}")

    if (options != null) {
        dispatcher.{{entryPointFunctionName}}.launch(
            intent,
            options,
        )
    } else {
        dispatcher.{{entryPointFunctionName}}.launch(
            intent,
        )
    }
}

internal class {{className}} : Fragment() {
    {{#savedStateList}}
        val {{name}}: {{typeName}}{{#nullable}}?{{/nullable}}
            get() = requireArguments().get("{{name}}") as {{typeName}}{{#nullable}}?{{/nullable}}
    {{/savedStateList}}

    val {{entryPointFunctionName}} =
        registerForActivityResult(ActivityResultContracts.StartActivityForResult()) { result: ActivityResult ->
            Log.d(TAG, "ActivityResultContracts.StartActivityForResult().result: $tag")
            (InternalWorkflowUtils.requireParent(this) as {{callbackClassName}})
                .{{callbackMethodName}}(
                    result,
                    {{#savedStateList}}
                        {{name}},
                    {{/savedStateList}}
                )

            InternalWorkflowUtils.remove(this)
        }

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        Log.d(TAG, "onCreate: $tag")
    }

    override fun onAttach(context: Context) {
        super.onAttach(context)
        Log.d(TAG, "onAttach: $tag")
    }

    override fun onDetach() {
        super.onDetach()
        Log.d(TAG, "onDetach: $tag")
    }

    override fun onDestroy() {
        super.onDestroy()
        Log.d(TAG, "onDestroy: $tag")
    }

    companion object {
        private const val TAG = "{{className}}"
    }
}