@file:Suppress("unused")
package {{packageName}}

import android.app.*
import android.content.*
import android.os.*
import android.content.*
import androidx.core.os.bundleOf
import androidx.fragment.app.*
import androidx.fragment.app.Fragment
import com.eaglesakura.workflowdispatcher.internal.*
import com.eaglesakura.workflowdispatcher.activity.*
import androidx.core.os.bundleOf

internal fun {{callbackClassName}}.{{entryPointFunctionName}}(
    intent: Intent,
{{#savedStateList}}
    {{name}}: {{typeName}}{{#nullable}}?{{/nullable}},
{{/savedStateList}}
    options: Bundle? = null,
) {
    val dispatcher = {{className}}()
    dispatcher.arguments = bundleOf(
        {{#savedStateList}}
            "{{name}}" to {{name}},
        {{/savedStateList}}
    )
    InternalWorkflowUtils.add(this, dispatcher, "{{className}}#${System.currentTimeMillis()}")

    dispatcher.startActivityForResult(
        intent,
        {{className}}.REQUEST_CODE,
        options,
    )
}

internal class {{className}} : Fragment() {
    {{#savedStateList}}
        val {{name}}: {{typeName}}{{#nullable}}?{{/nullable}}
            get() = requireArguments().get("{{name}}") as {{typeName}}{{#nullable}}?{{/nullable}}
    {{/savedStateList}}

    override fun onActivityResult(requestCode: Int, resultCode: Int, data: Intent?) {
        check(requestCode == REQUEST_CODE) {
            "bad request code: $REQUEST_CODE"
        }

        (InternalWorkflowUtils.requireParent(this) as {{callbackClassName}})
            .{{callbackMethodName}}(
                ActivityResult(resultCode, data),
                {{#savedStateList}}
                    {{name}},
                {{/savedStateList}}
            )

        InternalWorkflowUtils.remove(this)
    }

    companion object {
        internal const val REQUEST_CODE = 0x3103
    }
}