@file:Suppress("unused", "UNUSED_PARAMETER")
package {{packageName}}

import android.app.*
import android.content.*
import android.os.*
import android.content.*
import androidx.fragment.app.*
import androidx.fragment.app.Fragment
import com.eaglesakura.workflowdispatcher.internal.*
import com.eaglesakura.workflowdispatcher.permission.*
import androidx.core.os.bundleOf
import android.util.Log
import androidx.activity.result.*
import androidx.activity.result.contract.*
import androidx.core.app.*

internal fun {{callbackClassName}}.{{entryPointFunctionName}}(
    permissions: List<String> = listOf({{#permissions}}"{{.}}",{{/permissions}}),
{{#savedStateList}}
    {{name}}: {{typeName}}{{#nullable}}?{{/nullable}},
{{/savedStateList}}
) {
    val dispatcher = {{className}}()
    dispatcher.arguments = bundleOf(
        "@ARGUMENT_PERMISSIONS" to permissions.toTypedArray(),
        {{#savedStateList}}
            "{{name}}" to {{name}},
        {{/savedStateList}}
    )
    InternalWorkflowUtils.add(this, dispatcher, "{{className}}")

    dispatcher.{{entryPointFunctionName}}.launch(
        permissions.toTypedArray(),
    )
}

internal class {{className}} : Fragment() {
    {{#savedStateList}}
        val {{name}}: {{typeName}}{{#nullable}}?{{/nullable}}
            get() = requireArguments().get("{{name}}") as {{typeName}}{{#nullable}}?{{/nullable}}
    {{/savedStateList}}

    private val permissions: List<String>
        get() = requireArguments().getStringArray("@ARGUMENT_PERMISSIONS")!!.toList()

    val {{entryPointFunctionName}} =
        registerForActivityResult(ActivityResultContracts.RequestMultiplePermissions()) { result: Map<String, Boolean> ->
            Log.d(TAG, "ActivityResultContracts.RequestMultiplePermissions().result: $tag")
            (InternalWorkflowUtils.requireParent(this) as {{callbackClassName}})
                .{{callbackMethodName}}(
                    InternalWorkflowUtils.parseFromRequestMultiplePermissionsContractResult(permissions, result),
                    {{#savedStateList}}
                        {{name}},
                    {{/savedStateList}}
                )

            InternalWorkflowUtils.remove(this)
        }

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        Log.d(TAG, "onCreate: $tag")
    }

    override fun onAttach(context: Context) {
        super.onAttach(context)
        Log.d(TAG, "onAttach: $tag")
    }

    override fun onDetach() {
        super.onDetach()
        Log.d(TAG, "onDetach: $tag")
    }

    override fun onDestroy() {
        super.onDestroy()
        Log.d(TAG, "onDestroy: $tag")
    }

    companion object {
        private const val TAG = "{{className}}"
    }
}